@import "nullstyle";

@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SFProDisplay-Regular.ttf);
}

$black: #000000;
$white: #ffffff;
$secondWhite: #fefefe;
$grey: #828282;

.site {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: Roboto;
}

button {
    &:focus {
        outline: none;
    }
}
.header {
    overflow: hidden;
    background-image: url(../img/header/img.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;

    &__wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
    &__burger {
        display: none;
    }
    &__menu {
        padding-top: 65px;
        ul {
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            li {
                padding: 10px 30px;
                &:hover {
                    cursor: pointer;
                }
                a {
                    font-family: Roboto;
                    font-size: 16px;
                    line-height: 19px;
                    color: $white;
                }
            }
        }
    }

    &__title {
        padding-top: 200px;
        h1 {
            padding: 20px;
            font-family: SFProDisplay;
            font-size: 96px;
            line-height: 115px;
            color: $white;
        }
        p {
            padding: 5px 20px;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: $white;
        }
    }
    padding-bottom: 470px;
}

.vesta {
    margin-top: 85px;
    &__wrapper {
        width: 100%;
    }
    &__title {
        max-width: 1440px;
        margin: 0 auto;
        h2 {
            position: relative;
            padding: 20px;
            font-family: SFProDisplay;
            font-size: 72px;
            line-height: 86px;
            color: $grey;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                border: 2px solid #e0e0e0;
                bottom: 35px;
                left: 400px;
                background-color: #e0e0e0;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        img {
            max-width: 1037px;
            width: 100%;
        }
    }

    &__text {
        h6 {
            max-width: 640px;
            padding: 0 15px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 19px;
            color: #595959;
        }
    }

    &__text-item {
        display: flex;
        margin: 30px 0;
        padding: 0 15px;

        span {
            width: 55px;
            height: 55px;
            background-color: #f2f2f2;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
        }
        &:nth-child(2) {
            span {
                background-image: url(../img/vesta/03.png);
            }
        }
        &:nth-child(3) {
            span {
                background-image: url(../img/vesta/04.png);
            }
        }
        &:nth-child(4) {
            span {
                background-image: url(../img/vesta/04.png);
            }
        }

        h5 {
            font-family: Roboto;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $black;
            margin-bottom: 5px;
        }
        p {
            font-family: Roboto;
            font-size: 16px;
            line-height: 19px;
            color: #595959;
        }
    }

    &__text-list {
        padding: 0 5px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }
}
.video-block {
    padding: 5px;
    margin-bottom: 150px;
    video {
        margin-top: 120px;

        width: 100%;
    }
}

.protection {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    h2 {
        margin-left: 50px;
        position: relative;
        padding: 20px;
        font-family: SFProDisplay;
        font-size: 72px;
        line-height: 86px;
        color: #828282;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            border: 2px solid #e0e0e0;
            bottom: 35px;
            left: 870px;
            background-color: #e0e0e0;
        }
    }

    &__content {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        margin-left: 55px;
        padding: 0 20px;
        margin-top: 70px;
        max-width: 420px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        color: #595959;
    }

    &__image {
        img {
            width: 100%;
        }
    }
}

.options {
    margin-top: 100px;
    img {
        width: 100%;
    }

    &__img1 {
        margin-bottom: 100px;
    }
    &__img2 {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__btn {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        button {
            width: 350px;
            height: 50px;
            background: #e67e22;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            font-family: Roboto;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
        }
    }
}

.multy {
    margin-top: 200px;
    background-color: #4d494a;
    &__wraper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        margin-left: 50px;
        h2 {
            position: relative;
            padding: 20px;
            font-family: SFProDisplay;
            font-size: 72px;
            line-height: 86px;
            color: #ffffff;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                border: 2px solid #e0e0e0;
                bottom: 35px;
                left: 905px;
                background-color: #e0e0e0;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin-left: 70px;
        ul {
            li {
                overflow: hidden;
                position: relative;
                display: grid;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0px;
                width: 420px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                color: #ffffff;
                border-bottom: 0.5px solid #ffffff;
                &:last-child {
                    border: none;
                }
                span {
                    transform: translateY(-30px);
                    top: -30px;
                    transition: 0.5s;
                    opacity: 0;
                    color: black;
                }
                div {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: 11px;
                    border: 1px solid white;
                    border-radius: 50%;
                    background-color: unset;
                    color: white;
                    font-size: 20px;
                    text-align: center;
                }
                input {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    right: 7px;
                    z-index: 10;
                    opacity: 0;
                    &:checked ~ span {
                        transition: 0.5s;
                        opacity: 1;
                        display: block;
                        color: black;
                        margin-top: 20px;
                        transform: translateY(-12px);
                    }
                }
            }
        }
    }

    &__img {
        img {
            padding: 10px;
            width: 100%;
        }
    }
}
///////////////////////////////////////////////////////

.review {
    margin-top: 70px;
    &__wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        margin-left: 50px;
        padding: 0 20px;
        h3 {
            position: relative;
            font-size: 72px;
            line-height: 86px;
            color: #828282;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                border: 2px solid #e0e0e0;
                bottom: 20px;
                left: 320px;
                background-color: #e0e0e0;
            }
        }
        p {
            margin-top: 20px;
            font-family: Roboto;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
    }
    &__block {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h6 {
            margin-bottom: 15px;
            font-family: Roboto;

            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #1c1c24;
        }
        h3 {
            font-family: Roboto;
            margin-bottom: 20px;
            max-width: 380px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #000000;
        }
        p {
            margin-bottom: 20px;
            font-family: Roboto;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #828282;
        }
        a {
            bottom: 0;
            left: 30%;
            position: absolute;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            text-decoration-line: underline;
            color: #e67e22;
            margin-bottom: 40px;
        }
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fafafa;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        max-width: 413px;
        min-height: 388px;
    }
}

.color {
    margin-top: 150px;
    background: linear-gradient(30.33deg, rgba(77, 73, 74, 0.061) 4.54%, rgba(41, 41, 41, 0.952) 63.69%), #9d9e9d;

    &__wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    &__title {
        margin-left: 40px;
        h3 {
            position: relative;
            font-family: SFProDisplay;
            font-size: 72px;
            line-height: 86px;
            color: #ffffff;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                border: 2px solid #e0e0e0;
                bottom: 20px;
                left: 570px;
                background-color: #e0e0e0;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 60%;
        img {
            width: 100%;
        }
    }
}
.slick-list {
    width: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.slider {
    order: -1;
    overflow: hidden;
    position: relative;
    max-width: 485px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item {
    &:focus {
        outline: none;
    }
    span {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 1px solid #fafafa;
        box-sizing: border-box;
        border-radius: 50%;
        margin: 0 8px;
    }
}
.item-text {
    display: none;
}
.blue {
    background: linear-gradient(142.33deg, rgba(255, 255, 255, 0.2) 12.54%, rgba(255, 255, 255, 0) 83.69%), #1449bf;
}
.gray {
    background: linear-gradient(142.33deg, rgba(255, 255, 255, 0.2) 12.54%, rgba(255, 255, 255, 0) 83.69%), #3f3a32;
}
.secontgray {
    background: linear-gradient(142.33deg, rgba(255, 255, 255, 0.37) 12.54%, rgba(255, 255, 255, 0) 83.69%), #9d9e9d;
}
.red {
    background: linear-gradient(142.33deg, rgba(255, 255, 255, 0.2) 12.54%, rgba(255, 255, 255, 0) 83.69%), #860e02;
}
.black {
    background: linear-gradient(142.33deg, rgba(255, 255, 255, 0.2) 12.54%, rgba(255, 255, 255, 0) 83.69%), #111112;
}
.slick-current {
    margin: 0 10px;
    span {
        width: 100px;
        height: 100px;
    }
    p {
        margin-top: 10px;
        text-align: center;
        display: block;
    }
    .item-text {
        position: relative;
        display: block;
        h6 {
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #ffffff;
            &::after {
                position: absolute;
                content: "Классический  цвет, в котором выразительно проявляется рельефная поверхность кузова";
                font-size: 16px;
                line-height: 19px;
                left: -91px;
                bottom: -60px;
                width: 300px;
            }
        }
    }
}
.slider .slick-arrow {
    position: absolute;
    top: 46%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-color: unset;
    background-repeat: no-repeat;
    background-size: 100%;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background-image: url(../img/slider/prev.png);
}
.slider .slick-arrow.slick-next {
    right: 0;
    background-image: url(../img/slider/next.png);
}
.slider .slick-arrow.slick-disabled {
    opacity: 0.3;
}
///////////////////////////////////////////////////////
.footer {
    position: relative;
    &__img {
        img {
            width: 100%;
            margin-top: 100px;
        }
    }

    &__content {
        position: relative;
        padding: 50px 0px;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        margin-left: 40px;
        padding: 20px;
        h3 {
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
        }
        p {
            margin-top: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__form {
        position: relative;
        padding: 20px;
        input {
            position: relative;
            width: 420 + 50px;
            height: 48px;
            padding: 0 20px;
            background: #ffffff;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15), 0px 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            &:focus {
                outline: none;
            }
            &::after {
                z-index: 1;
                display: inline-block;
                padding: 5px;
                position: absolute;
                text-align: center;
                content: "Ошибка";
                font-size: 15px;
                width: 60px;
                height: 38px;
                top: 0px;
                left: 90px;
                color: red;
                background: #e67e22;
                transition: 1s;
                border-radius: 10px;
            }
        }
        button {
            transition: 1s;

            padding: 0 20px;
            position: absolute;
            width: 160px;
            height: 48px;
            right: 20px;
            background: #e67e22;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15), 0px 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
        }
    }
}
.modal {
    border: solid 1px;
    position: fixed;
    top: calc(50% - 202px);
    left: calc(50% - 150px);
    width: 300px;
    height: 200px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(142.33deg, rgba(38, 156, 2, 0.37) 12.54%, rgba(255, 255, 255, 0) 83.69%), #0f970f;
    border: 1px solid black;
    box-sizing: border-box;
    h2,
    button {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: white;
        background-color: unset;
    }
    button {
        color: black;
        text-decoration: underline black 4px;
    }
}
.modal2 {
    background: linear-gradient(142.33deg, rgba(255, 255, 255, 0.2) 12.54%, rgba(255, 255, 255, 0) 83.69%), #860e02;
    height: 310px;
    h2 {
        text-align: center;
        font-size: 30px;
        padding: 5px;
    }
}
.activ {
    display: flex;
}
.disabled {
    opacity: 0.5;
    color: unset;
}
.opas0 {
    opacity: 0.2;
}
.modalShow {
    display: flex;
    opacity: 1;
}
.hide {
    display: none;
}
.loader {
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    top: calc(50% - 120px);
    left: calc(50% - 20px);
    border-radius: 50%;
    margin: 72px auto;
    position: fixed;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, 0 -0.83em 0 -0.42em #e67e22, 0 -0.83em 0 -0.44em #e67e22,
            0 -0.83em 0 -0.46em #e67e22, 0 -0.83em 0 -0.477em #999999;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, 0 -0.83em 0 -0.42em #e67e22, 0 -0.83em 0 -0.44em #e67e22,
            0 -0.83em 0 -0.46em #e67e22, 0 -0.83em 0 -0.477em #999999;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, -0.087em -0.825em 0 -0.42em #e67e22, -0.173em -0.812em 0 -0.44em #e67e22,
            -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #999999;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, -0.338em -0.758em 0 -0.42em #e67e22, -0.555em -0.617em 0 -0.44em #e67e22,
            -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #999999;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, -0.377em -0.74em 0 -0.42em #e67e22, -0.645em -0.522em 0 -0.44em #e67e22,
            -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #999999;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, 0 -0.83em 0 -0.42em #e67e22, 0 -0.83em 0 -0.44em #e67e22,
            0 -0.83em 0 -0.46em #e67e22, 0 -0.83em 0 -0.477em #999999;
    }
}
@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, 0 -0.83em 0 -0.42em #e67e22, 0 -0.83em 0 -0.44em #e67e22,
            0 -0.83em 0 -0.46em #e67e22, 0 -0.83em 0 -0.477em #e67e22;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, 0 -0.83em 0 -0.42em #e67e22, 0 -0.83em 0 -0.44em #e67e22,
            0 -0.83em 0 -0.46em #e67e22, 0 -0.83em 0 -0.477em #e67e22;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, -0.087em -0.825em 0 -0.42em #e67e22, -0.173em -0.812em 0 -0.44em #e67e22,
            -0.256em -0.789em 0 -0.46em #e67e22, -0.297em -0.775em 0 -0.477em #e67e22;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, -0.338em -0.758em 0 -0.42em #e67e22, -0.555em -0.617em 0 -0.44em #e67e22,
            -0.671em -0.488em 0 -0.46em #e67e22, -0.749em -0.34em 0 -0.477em #e67e22;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, -0.377em -0.74em 0 -0.42em #e67e22, -0.645em -0.522em 0 -0.44em #e67e22,
            -0.775em -0.297em 0 -0.46em #e67e22, -0.82em -0.09em 0 -0.477em #e67e22;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #e67e22, 0 -0.83em 0 -0.42em #e67e22, 0 -0.83em 0 -0.44em #e67e22,
            0 -0.83em 0 -0.46em #e67e22, 0 -0.83em 0 -0.477em #e67e22;
    }
}
///////////////////////////////////////
@media (max-width: 1440px) {
    .header {
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 158px;
    }
    .header__title {
        padding: 200px 50px;
    }
    .vesta__title h2 {
        margin-left: 50px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding-bottom: 151px;
        background-size: cover;
        background-position: bottom;
    }
    .header__title {
        margin-top: 100px;
    }
    .video-block {
        margin-bottom: 20px;
    }
    .footer__content {
        flex-direction: column;
    }
    .footer__text h3 p {
        text-align: center;
    }
    .vesta {
        margin-top: 20px;
    }
    .slider .slick-arrow {
        position: absolute;
        top: 43%;
    }
    .color__content {
        flex-direction: column;
        align-items: center;
    }
    .color__wrapper {
        padding: 0;
    }
    .color__title h3 {
        padding: 10px;
        text-align: center;
        &::after {
            display: none;
        }
    }
}

@media (max-width: 941px) {
    .review {
        margin-top: 40px;
    }
    .review__title h3 {
        font-size: 35px;
        &::after {
            bottom: 31px;
            left: 155px;
        }
    }
    .vesta__title h2 {
        font-size: 35px;
        &::after {
            left: 210px;
            bottom: 50px;
        }
    }
    .vesta__content {
        flex-direction: column;
    }
    .video-block {
        margin: 0;

        video {
            margin: 0;
        }
    }
    .protection__content {
        flex-direction: column;
    }
    .protection__text {
        max-width: none;
        margin: 0;
    }
    .protection__content {
        margin: 0;
    }
    .protection h2 {
        font-size: 35px;
        line-height: 35px;
        &::after {
            left: 440px;
            bottom: 26px;
        }
    }

    .options__btn {
        padding: 10px;
    }
    .multy__content {
        flex-direction: column;
    }
    .multy__img {
        order: -110px;
    }
    .multy__list {
        margin-left: 0;
    }
    .multy__title h2 {
        font-size: 35px;
        text-align: center;
        line-height: 30px;
    }
    .multy__list ul li {
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }
    .multy__img img {
        padding: 0;
    }
    .multy__title {
        margin-left: 0;
    }
    .multy__title h2::after {
        display: none;
    }
}
@media (max-width: 768px) {
    .header__title {
        margin-top: 100px;
        padding: 0;
    }
    .header__burger {
        z-index: 21;
        margin-right: 20px;
        display: block;
        position: fixed;
        top: 20px;
        right: 0;
        width: 30px;
        height: 20px;
        z-index: 3;
        &::before,
        &::after {
            content: "";
            background-color: rgb(224, 130, 42);
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: 0.3s;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            background-color: rgb(224, 130, 42);
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: 0.3s;
        }
    }

    .header__burger.active {
        transition: 1s;
        span {
            transform: scale(0);
        }
        &::before {
            transform: rotate(45deg);
            top: 9px;
        }
        &::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        z-index: 1;
        position: fixed;
        top: -200%;
        left: 60%;
        width: 37%;

        padding: 80px 10px 20px 2%;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.698);

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            li {
                text-align: center;
            }
        }

        &.active {
            border-bottom-left-radius: 10%;
            top: 0px;
            .header__list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .header__list {
        text-align: start;
        display: block;
        li {
            margin: 0 0 20px 0;
            a {
                font-size: 20px;
            }
        }
    }
    .slider .slick-arrow {
        position: absolute;
        top: 43%;
    }
    .item-text {
        h6 {
            &::after {
                display: none;
            }
        }
    }
    .color {
        margin-top: 50px;
    }

    .footer__text {
        margin-left: 0;
    }
    .color__title {
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .slider .slick-arrow {
        position: absolute;
        top: 35%;
    }
}

@media (max-width: 555px) {
    .header__title {
        padding: 0;
    }
    .vesta__text {
        margin-top: 20px;
    }
    .video-block {
        margin: 20px;
        margin-bottom: 0;
    }
    .color__title h3 {
        font-size: 35px;
        text-align: center;
    }
    .footer__form {
        width: 90%;
        form {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        input {
            position: unset;
            margin: 0 auto;
            width: 70%;
        }
        button {
            margin-top: 10px;
            position: unset;
        }
    }
    .header__menu ul li {
        padding: 10px 0px;
    }
}
@media (max-width: 490px) {
    .header__title h1 {
        font-size: 60px;
    }
    .slider__item span {
        margin: 0 5px;
    }
    .slick-list {
        width: 215px;
        overflow: hidden;
    }
}
@media (max-width: 350px) {
    .review__item {
        min-height: 448px;
    }
    .review__block a {
        left: 25%;
    }
}
